<footer>
  <p>
    {% if site.github.is_project_page %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
    {% endif %}

    {% if site.github.is_user_page %}
    <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
    {% endif %}
    <small>
      <a href="mailto:harvey.shi@yahoo.com">Contact me</a>
    </small>
    <br>
    <small>
      <a href="/sitemaking">How did I make this website</a>
    </small>
  </p>
</footer>
